@model IEnumerable<DienThoai.Models.KhachHang>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách khách hàng</h1>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Tên khách hàng
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDTKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailKH)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KhachHangID">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.KhachHangID">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.KhachHangID">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
