@model IEnumerable<DienThoai.Models.SanPham>

@{
    ViewData["Title"] = "Index";
}

<h2>THÔNG TIN SẢN PHẨM</h2>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Hãng
            </th>
            <th>
                Giá
            </th>
            <th>
                Mô tả
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Kích thước
            </th>
            <th>
               RAM
            </th>
            <th>
                CPU
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDHang) @*sửa lại lấy Id hãng*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KichThuoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ram)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPU)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
